* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body , html {
    overflow-x: hidden;
}

.navbar {
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;    
    justify-content: space-around;
    padding: 20px;
}

.logo {
    margin-top: 11px;
}

.header-content {
    height: 420px;
    width: 100vw;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #fec711;
    margin-top: 70px;
}

